<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="protel.jahitin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.onBoarding"
            android:label="@string/title_activity_on_boarding"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.form" />
        <activity
            android:name=".Activity.Register"
            android:parentActivityName=".Activity.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.form" />
        <activity
            android:name=".Activity.Beranda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Pembelian"
            android:parentActivityName=".Activity.Beranda"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Beranda" />
        </activity>
        <activity
            android:name=".Activity.Bayar"
            android:parentActivityName=".Activity.Beranda"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Beranda" />
        </activity>
        <activity
            android:name=".Activity.Bayar2"
            android:parentActivityName=".Activity.Bayar"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.BuatToko" />
        <activity android:name=".Activity.DetailTransaksi" />
        <activity android:name=".Activity.Ulasan" />
        <activity android:name=".Activity.InformasiBarang" />
        <activity android:name=".Activity.InformasiToko" />
        <activity android:name=".Activity.DetailBarang" />
        <activity android:name=".Activity.DetailTransaksiPenjualan"></activity>
    </application>

</manifest>